.contact {
  padding: 100px 0;
  position: relative;
  &__row {
    display: flex;
    gap: 40px;
  }
  &__left {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  &__right {
    flex: 0 0 auto;
    width: 58.33333333%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      270.16deg,
      var(--px-theme-2) 5.74%,
      var(--px-theme) 92.05%
    );
  }
  &__heading {
    margin-bottom: 65px;
    position: relative;
    p {
      margin: 0 0 10px;
      font-size: 1.125rem;
      font-weight: 600;
      font-style: italic;
    }
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  &__info {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      border: 1px solid rgba(var(--px-white-rgb), 0.1);
      padding: 20px;
      background: var(--px-bg);
    }
    li + li {
      margin-top: 20px;
    }
    &__icon {
      width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        270.16deg,
        var(--px-theme-2) 5.74%,
        var(--px-theme) 92.05%
      );
      color: var(--px-white);
      font-size: 20px;
    }
    &__text {
      padding-left: 20px;
      flex: 1;
      label {
        font-weight: 700;
        font-size: 1.125rem;
      }
      p {
        font-size: 0.938rem;
        line-height: 1.5rem;
        margin: 0;
        opacity: 0.75;
      }
      a{
        text-decoration: none;
        color: var(--px-white);
      }
    }
  }
  &__form {
    padding: 50px;
  }
  &__form__head {
    h4 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 15px;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  &__item {
    width: 47%;
  }
  &__control {
    background: rgba(var(--px-white-rgb), 0.05);
    border-radius: 0;
    padding: 0.675rem 0.75rem;
    border: 1px solid rgba(var(--px-white-rgb), 0.3);
    color: var(--px-white);
    box-shadow: none;
    font-size: 1rem;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    &:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #0d6efd40;
    }
    &::placeholder {
      color: var(--px-white);
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    background: var(--px-dark);
    color: var(--px-white);
    width: 100%;
  }
}
